.flipCard {
  perspective: 1000px;
  background-color: transparent;
  width: 100%;
  height: 340px;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.75rem;
  padding: 1.5rem;
}

.flipCardBack {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.memberImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5rem;
  margin: 0 auto 1rem;
}
